/*colors

#84C1D9 icy blue
#303B40 blueish black
#C9E7F2 light blue
#9FA4A6 cool off white blueish
#F2F2F2 cool off white
#F2780C orange
*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
    width: 80vw;
    max-width: 960px;
    margin: 40px auto;
    font-size:20px;
}


body {
    background-color: #9FA4A6;
    color: #303B40;
    font-family: 'Saira Condensed', serif;
    font-size: 85%;
    background-color: #303b40;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2384c1d9' fill-opacity='0.21'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");


}


header.primary {
    background-color: #F2780C;
    text-align: center;
    color: #303B40;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    text-shadow: 2px 2px #84C1D9;
    background-color: #FFFFFF;
}

header.primary h1 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 4rem;
    font-kerning: auto;
    
    
}

header.primary h1 a {
    color: #E08660;
    text-shadow: 1px 1px #994522;
    text-decoration: none;
    padding:1px;
}

header.primary nav {
    max-width: 100%;
    margin: 20px auto;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

header.primary nav ul li {
    list-style-type: none;
    font-size:20px;

}

header.primary nav ul {
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

header.primary nav ul li a {
    text-decoration: none;
    color: #F2780C;
    background-color: darkslategray;
    background-color: rgba (0, 0, 0, .4);
    padding: 6px 15px;
    border-radius: 5px;
    border: 2px solid #F2780C;
    transition: .4s;
    text-shadow: none;
}

header.primary nav ul li a:hover {
    color: #ACFDF1;
    background-color: rgba (0, 0, 0, .9);
}

.primary {
    position: relative;
}

header.primary img {

    max-width: 100%;
    height: auto;
    width: 25%;
    display:block;
    margin-left:auto;
    margin-right:auto;

}




blockquote {

    border: 2px solid #F2780C;
    box-shadow: inset 0 4px 8px rgba(97, 88, 88, 0.4);
    padding: 10px 10px 10px 10px;
    background-color: #303B40;
    color: #84C1D9;
    margin: 20px 40px;
    line-height: 1;
}

#environment{
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    border-bottom: 5px solid #F2780C;
    padding-bottom: 1.6rem;
    background-color: #84C1D9;
    padding:15px;
    border: 1px solid black;
}

#environment article.card
{
    box-shadow: 0 4px 8px rgba(0, 0, 0, .4);
    padding: 10px;
    border-radius: 10px;
    background: darkslategray;
    border: 2px solid #F2780C;
    font-size: .8rem;
    transition: .4s;
    color:#84C1D9;
}

#environment h3
{
    display:flex;
    vertical-align:auto;
}

#waters{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 4px solid #84C1D9;
}

footer{
    background-color:#303B40;
    color:#84C1D9;
    text-decoration: none;
}

#description{
    background-color: #84C1D9;
    padding:15px;
    border: 1px solid black;
    

}

#description  p {
    float:left;
    
    text-align:left;
    
}
#description img{
    display:flex;
    align-items:right;
    max-width:100%;
    width:50%;
    
}
    

#product{
    background-color: #84C1D9;
    padding:15px;
    border: 1px solid black;
}

#controls{
    background-color: #84C1D9;
    padding:15px;
    border: 1px solid black;
}

#steering{
    background-color: #84C1D9;
    padding:15px;
    border: 1px solid black;
}



