html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: black;
    font-family:'Poppins', serif;
    display:block;
    color:coral;
    width: 80vw;
    max-width: 960px;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    font-size:20px;
    border-style:solid;
    padding:20px;
    
}



#content{
    list-style-type: upper-roman;
    font-size:30px;
    display:block;
    text-decoration:none;
    
    
}

#content a{
    text-decoration:none;
}


h1{
    text-align:center;
}








